/* Root Variables */
:root {
    --primary-color: #4CAF50;
    --primary-dark: #45a049;
    --secondary-color: #e8f5e9;
    --text-color: #333;
    --border-radius: 6px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Container Styles */
.container {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
}

/* Input and Button Styles */

.input-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: var(--primary-color);
    font-size: 0.9em;
}

input,
button {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: var(--primary-dark);
}

#result {
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 15px;
}

#crypto-result {
    font-size: 18px;
    color: var(--primary-color);
    text-align: center;
    margin-top: 15px;
}

/* Currency Inputs Styles */
#from-currency,
#to-currency,
#from-crypto,
#to-crypto {
    text-transform: uppercase;
}

.currency-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency-input {
    width: 45%;
}

#swap-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin: 10px 10px -10px 10px;
}

#swap-button:hover {
    background-color: var(--primary-dark);
}

/* Currency List Styles */
.currency-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;
}

.region-header {
    font-weight: bold;
    padding: 10px;
    background-color: #e9e9e9;
    cursor: default;
}

.currency-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.currency-item:hover {
    background-color: #f1f1f1;
}

.currency-item img {
    margin-right: 5px;
}
/*Crypto currency list*/
.crypto-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.crypto-item:hover {
    background-color: #f1f1f1;
}

.crypto-item img {
    margin-right: 5px;
}

/* History Styles */
.history-item {
    background: #f1f8e9;
    padding: 10px;
    margin: 8px 0;
    border-radius: var(--border-radius);
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.history-item:hover {
    background-color: #dcedc8;
}

#history-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#history-controls button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

/* Section Title Styles */
.section-title {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

/* Switcher Styles */
.switcher {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.switch {
    padding: 12px 24px; 
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: var(--border-radius); 
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; 
    text-align: center; 
}

.switch.active {
    background-color: var(--primary-color);
    color: white;
    pointer-events: none;
}

.switch.inactive {
    background-color: white;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--primary-color); /* Use the primary color for links */
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    background: white;
}

#crypto-swap-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin: 10px 10px -10px 10px;
}

#crypto-swap-button:hover {
    background-color: var(--primary-dark);
}
/* Hide the default number input spinners in Webkit browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/**/
.autocomplete {
    position: relative;
}

.autocomplete input {
    padding-left: 30px;
}

.crypto-logo {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}